{% extends '@andrii_mvp_office/base.html.twig' %}

{% block body %}
    <div id="app"></div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        {% if currentCategoryId is defined %}
            window.currentCategoryId = '{{ currentCategoryId|e('js') }}'; {# set a global variable #}
{# e('js') makes variable data save for js #}
        {% else %}
            window.currentCategoryId = null
        {% endif %}
    </script>

    {{ encore_entry_script_tags('a/mvp_office/product') }}
{% endblock %}

{% block stylesheets %}
    {{ parent() }}

    {{ encore_entry_link_tags('a/mvp_office/product') }}
{% endblock %}
