<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}MVP Office Supplies{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('a/mvp_office/app') }}
    {% endblock %}
    <link rel="icon" type="image/png" href="{{ asset('images/andrii/mvp_office/favicon.png') }}">
</head>
<body>
<header class="header">
    <nav class="navbar navbar-expand-lg navbar-dark justify-content-between">
        <a class="navbar-brand" href="/">
            <img src="{{ asset('images/andrii/mvp_office/mvp-logo-light.png' ) }}"
                 width="50"
                 height="50"
                 alt="MVP Office Supplies Logo"
            >
        </a>
        <a class="navbar-brand" href="{{ path('andrii_mvp_office_homepage') }}">
            <span class="p-3">MVP Office Supplies</span>
        </a>

        <ul class="navbar-nav">
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('andrii_mvp_office_login') }}">
                        Log out
                    </a>
                </li>
            {% else %}
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('andrii_mvp_office_login') }}">
                        Log in
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{{ path('andrii_mvp_office_register') }}">
                        Register
                    </a>
                </li>
            {% endif %}
            <li class="nav-item">
                <a class="nav-link" href="#">
                    Shopping Cart (<span>0</span>)
                </a>
            </li>
        </ul>
    </nav>
</header>

{% block body %}{% endblock %}

<p class="footer mb-0">
    Built with<span> &lt;3 </span>by your friends at
    <a href="https://symfonycasts.com" target="_blank">
        SymfonyCasts
    </a>
</p>

{% block javascripts %}
    {{ encore_entry_script_tags('a/mvp_office/app') }}
{% endblock %}
</body>
</html>
